In [2]:
import os
import requests
import json
import pandas as pd
from dotenv import load_dotenv
from yahoo_fin.stock_info import get_data


%matplotlib inline

In [3]:
# Load .env enviroment variables
load_dotenv()

True

In [5]:
amazon_weekly= get_data("cop", start_date="09/24/2008", end_date="09/24/2021", index_as_date = True, interval="1wk")
amazon_weekly

,open,high,low,close,adjclose,volume,ticker
2008-09-22,58.942314,59.864719,56.213223,58.119015,36.969437,65127536,COP
2008-09-29,56.319946,56.449539,50.198544,50.419617,32.071854,116032242,COP
2008-10-06,48.102177,51.258163,34.456707,36.766529,23.387144,168456264,COP
2008-10-13,38.710434,45.228241,34.532940,40.029243,25.462543,154299679,COP
2008-10-20,41.470020,44.214359,35.097054,36.934238,23.493826,127513824,COP
...,...,...,...,...,...,...,...
2021-08-23,54.150002,57.119999,54.020000,56.740002,56.740002,32151000,COP
2021-08-30,56.980000,57.139999,54.419998,56.240002,56.240002,39309700,COP
2021-09-06,55.889999,56.740002,54.830002,55.730000,55.730000,23202500,COP
2021-09-13,56.570000,59.910000,56.570000,58.919998,58.919998,49617600,COP
2021-09-20,57.490002,64.120003,56.299999,63.709999,63.709999,51564700,COP