In [1]:
import numpy as np
import datetime as dt
from pathlib import Path
import os
import pandas as pd
import alpaca_trade_api as tradeapi
import seaborn as sns
from yahoo_fin.stock_info import get_data
from dotenv import load_dotenv
load_dotenv()

%matplotlib inline
%reload_ext autoreload
%autoreload 2

In [2]:
ticker_list = ['XLE', 'XLF', 'XLK', 'XLV', 'XLRE']
historical_datas = {}
for ticker in ticker_list:
    historical_datas[ticker] = get_data(ticker)

In [3]:
XLE_df = historical_datas['XLE']
XLE_df.drop(labels = ['open', 'high', 'low', 'adjclose', 'volume', 'ticker'], axis = 1, inplace=True)
XLE_df

                close
1998-12-22  23.265625
1998-12-23  23.750000
1998-12-24  23.625000
1998-12-28  23.500000
1998-12-29  23.734375
...               ...
2021-09-22  48.810001
2021-09-23  50.520000
2021-09-24  50.900002
2021-09-27  52.709999
2021-09-28  52.889999

[5729 rows x 1 columns]

In [4]:
XLF_df = historical_datas['XLF']
XLF_df = XLF_df.drop(labels = ['open', 'high', 'low', 'adjclose', 'volume', 'ticker'], axis = 1)
XLF_df = XLF_df.rename(columns = {'close': 'XLE Close'})
XLF_df

            XLE Close
1998-12-22  18.937855
1998-12-23  19.217100
1998-12-24  19.344028
1998-12-28  19.090172
1998-12-29  19.293259
...               ...
2021-09-22  37.110001
2021-09-23  38.020000
2021-09-24  38.220001
2021-09-27  38.740002
2021-09-28  38.099998

[5729 rows x 1 columns]

In [5]:
XLK_df = historical_datas['XLK']
XLK_df.drop(labels = ['open', 'high', 'low', 'adjclose', 'volume', 'ticker'], axis = 1, inplace=True)
XLK_df

                 close
1998-12-22   32.046875
1998-12-23   32.812500
1998-12-24   32.687500
1998-12-28   32.781250
1998-12-29   32.875000
...                ...
2021-09-22  154.529999
2021-09-23  156.600006
2021-09-24  156.710007
2021-09-27  155.190002
2021-09-28  150.589996

[5729 rows x 1 columns]

In [6]:
XLV_df = historical_datas['XLV']
XLV_df.drop(labels = ['open', 'high', 'low', 'adjclose', 'volume', 'ticker'], axis = 1, inplace=True)
XLV_df

                 close
1998-12-22   25.031250
1998-12-23   25.593750
1998-12-24   25.750000
1998-12-28   25.375000
1998-12-29   25.937500
...                ...
2021-09-22  131.570007
2021-09-23  132.520004
2021-09-24  131.979996
2021-09-27  130.100006
2021-09-28  127.870003

[5729 rows x 1 columns]

In [7]:
XLRE_df = historical_datas['XLRE']
XLRE_df.drop(labels = ['open', 'high', 'low', 'adjclose', 'volume', 'ticker'], axis = 1, inplace=True)
XLRE_df

                close
2015-10-08  30.209999
2015-10-09  30.160000
2015-10-12  30.350000
2015-10-13  30.160000
2015-10-14  30.160000
...               ...
2021-09-22  46.669998
2021-09-23  46.439999
2021-09-24  45.910000
2021-09-27  45.150002
2021-09-28  44.880001

[1504 rows x 1 columns]

In [8]:
gov_data = pd.read_csv('https://raw.githubusercontent.com/MikeGruz/us-gov-control-historical/master/us_government_control_1857-2016.csv')
gov_data

,id,congress,year_start,year_end,senate_total,senate_dems,senate_dem_perc,senate_reps,senate_rep_perc,senate_others,...,house_vacancies,house_dem_control,house_rep_control,congress_dem_control,congress_rep_control,congress_div_control,pres_dem,pres_rep,pres,pres_last
0,1,35,1857,1859,64,39,0.609375,20,0.312500,5,...,0,1,0,1,0,0,1,0,James Buchanan,Buchanan
1,2,36,1859,1861,66,38,0.575758,26,0.393939,2,...,0,0,1,0,0,1,1,0,James Buchanan,Buchanan
2,3,37,1861,1863,50,11,0.220000,31,0.620000,7,...,2,0,1,0,1,0,0,1,Abraham Lincoln,Lincoln
3,4,38,1863,1865,51,12,0.235294,29,0.568627,0,...,0,0,1,0,1,0,0,1,Abraham Lincoln,Lincoln
4,5,39,1865,1867,52,10,0.192308,42,0.807692,0,...,0,0,1,0,1,0,1,0,Andrew Johnson,Johnson
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,76,110,2007,2009,100,49,0.490000,49,0.490000,2,...,0,1,0,1,0,0,0,1,George W. Bush,Bush
76,77,111,2009,2011,100,57,0.570000,41,0.410000,2,...,0,1,0,1,0,0,1,0,Barack Obama,Obama
77,78,112,2011,2013,100,51,0.510000,47,0.470000,2,...,0,0,1,0,0,1,1,0,Barack Obama,Obama
78,79,113,2013,2015,100,53,0.530000,45,0.450000,2,...,0,0,1,0,0,1,1,0,Barack Obama,Obama
79,80,114,2015,2017,100,44,0.440000,54,0.540000,2,...,0,0,1,0,1,0,1,0,Barack Obama,Obama

In [9]:
gov_data = gov_data.drop(labels = range(0,70), axis = 0)
gov_data = gov_data.drop(labels = ['id', 'congress', 'year_start', 'year_end', 'senate_total', 'senate_dems', 'senate_dem_perc', 'senate_reps', 'senate_rep_perc', 'senate_others', 'senate_vacancies', 'house_total', 'house_dems', 'house_dem_perc', 'house_reps', 'house_rep_perc', 'house_others', 'house_vacancies', 'pres_last'], axis = 1)
gov_data.reset_index(inplace=True)

In [10]:
gov_data

,index,senate_dem_control,senate_rep_control,house_dem_control,house_rep_control,congress_dem_control,congress_rep_control,congress_div_control,pres_dem,pres_rep,pres
0,70,0,1,0,1,0,1,0,1,0,Bill Clinton
1,71,0,1,0,1,0,1,0,1,0,Bill Clinton
2,72,1,0,0,1,0,0,1,0,1,George W. Bush
3,73,0,1,0,1,0,1,0,0,1,George W. Bush
4,74,0,1,0,1,0,1,0,0,1,George W. Bush
5,75,1,0,1,0,1,0,0,0,1,George W. Bush
6,76,1,0,1,0,1,0,0,1,0,Barack Obama
7,77,1,0,0,1,0,0,1,1,0,Barack Obama
8,78,1,0,0,1,0,0,1,1,0,Barack Obama
9,79,0,1,0,1,0,1,0,1,0,Barack Obama

In [11]:
gov_data[['house_dem_control','house_rep_control','congress_dem_control','congress_rep_control','congress_div_control','pres_dem','pres_rep']].corr()

,house_dem_control,house_rep_control,congress_dem_control,congress_rep_control,congress_div_control,pres_dem,pres_rep
house_dem_control,1.000000,-1.000000,1.000000,-5.000000e-01,-0.327327,-1.020621e-01,1.020621e-01
house_rep_control,-1.000000,1.000000,-1.000000,5.000000e-01,0.327327,1.020621e-01,-1.020621e-01
congress_dem_control,1.000000,-1.000000,1.000000,-5.000000e-01,-0.327327,-1.020621e-01,1.020621e-01
congress_rep_control,-0.500000,0.500000,-0.500000,1.000000e+00,-0.654654,2.266233e-17,-1.133117e-17
congress_div_control,-0.327327,0.327327,-0.327327,-6.546537e-01,1.000000,8.908708e-02,-8.908708e-02
pres_dem,-0.102062,0.102062,-0.102062,2.266233e-17,0.089087,1.000000e+00,-1.000000e+00
pres_rep,0.102062,-0.102062,0.102062,-1.133117e-17,-0.089087,-1.000000e+00,1.000000e+00